.container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 0;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.app-card {
    display: flex;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    max-width: 1350px;
    background: radial-gradient(circle at bottom left, #167A8C, #062126 70%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), inset 0 -12px 12px rgba(0, 0, 0, 0.3);
    flex-direction: row;
    box-sizing: border-box;
    padding: 0 20px; 
    gap: 20px; 
}

.left-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.left-panel img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.right-panel {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.logo-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.card-title {
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}

.qr-code {
    width: 100%;
    max-width: 400px;
    height: auto;
}

@media (max-width: 1024px) {
    .app-card {
        flex-direction: row; 
    }

     .right-panel {
        width: 50%; 
        padding: 15px;
    }
    .left-panel{
        width: 50%; 
        padding: 0 15px;
    }

    .card-title {
        font-size: 24px;
    }

    .qr-code {
        max-width: 80%;
    }

    .left-panel img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .app-card {
        flex-direction: column; 
        gap: 0;
    }

    .right-panel {
        width: 100%;
        padding: 10px;
    }
    .left-panel{
        width: 100%;
        padding: 0 10px;
    }


    .logo-icon {
        width: 70px;
        height: 70px;
    }

    .card-title {
        font-size: 22px;
    }

    .qr-code {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .app-card {
        flex-direction: column; 
        gap: 0;
    }

     .right-panel {
        width: 100%;
        padding: 10px;
    }
    .left-panel{
        width: 100%;
        padding: 0 10px;
    }

    .logo-icon {
        width: 60px;
        height: 60px;
    }

    .card-title {
        font-size: 20px;
    }

    .qr-code {
        max-width: 100%;
    }
}

